ignore-scripts=false
node-linker=hoisted
allow-builds[]=@prisma/client
allow-builds[]=@prisma/engines
allow-builds[]=@sentry/cli
allow-builds[]=esbuild
allow-builds[]=msw
allow-builds[]=prisma
allow-builds[]=sharp
allow-builds[]=unrs-resolver
